*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.headerInicio{
    background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)), url(./fotos/headerFondoInicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    text-align: center;
}
p{
    font-family: 'Roboto', sans-serif;
}
.logo{
    display: block;
    margin-left: 1%;
    position: relative;
    bottom: 15%;
}
.navbar-collapse{
    justify-content: flex-end;
    position: relative;
    bottom: 40px;
}
.contenedorPadre_inicio{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    width: 100%;
}
.contenedorHijo_header{
    grid-area: header;
    width: 100%;
}
.contenedorHijo_main{
    grid-area: main;
}
.contenedorHijo_footer{
    grid-area: footer;
}
.logo2{
    display: block;
    margin-left: 1%;
    position: relative;
    bottom: 19%;
}
ul{
    list-style-type: none;
    padding: 2%;
}
li{
    display: inline-block;
    padding: 5px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
ul li:hover{
    background-color: #fefad7;
    border-radius: 20%;
}
ul li a:hover{
    color: black;
}
nav{
    text-align: right;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.navM{
    text-align: right;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.mejoresSabores{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 3rem;
}
.h1_header{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 3rem;
}
.verMenu{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: white;
    text-decoration: none;
    background-color: #b39975;
    padding: 5px 25px;
    border-radius: 20%;
    transition: 0.5s;

}
.verMenu:hover{
    color: black;
    background-color: #fefad7;
    border-radius: 20%;
    padding: 5px 25px;
}
span{
    color: #b39975;
}
.headerNosotros{
    background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)), url(./fotos/fondoNosotros5.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
    text-align: center;
}
.headerProductos{
    background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)), url(./fotos/Diseño\ sin\ título\ \(8\).png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
}
.headerMenu{
    background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)), url(./fotos/fondoSeccMenu1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
}
.headerContacto{
    background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)), url(./fotos/fondoMenu1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
}
.seccionInicioNosotros{
    margin: 5%;
    display: flex;
}
.nosotros img{
    height: 70vh;
}
.nosotros_texto{
    margin: 5% 7% 5% 5%;
    display: flex;
    flex-direction: column;
}
.sobreNosotros{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
}
.sobreNosotros_texto{
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;
    font-size: 20px;
}
.verMas{
    background-color: #b39975;
    text-decoration: none;
    color: black;
    border-radius: 20%;
    padding: 5px 20px;
    font-size: 20px;
    transition: 0.5s;
    align-self: center;
}
.verMas:hover{
    background-color: black;
    color: white;
    border-radius: 20%;
    padding: 5px 20px;
    font-size: 20px;
}
.videoInicio{
    width: 70%;
}
.seccionVideo{
    display: flex;
    justify-content: center;
    background-color: #fefad7;
}
.seccionIncioProductos{
    margin: 5% 2%;
    display: flex;
    flex-direction: column;
}
.especialidadesInicio{
    text-align: center;
}
.productos_texto{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 3%;
}
.especialidadesCasa{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}
.fotosInicioProductos{
    display: flex;
}
article{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
article img{
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
    width: 80%;
}
article img:hover{
    transform: scale(1.1, 1.1);
}
article h3{
    margin-top: 5%;
    font-size: 100%;
}
.verProductosInicio{
    background-color: #b39975;
    text-decoration: none;
    color: black;
    margin-top: 5%;
    border-radius: 20%;
    padding: 5px 20px;
    font-size: 20px;
    transition: 0.5s;
    align-self: center;
}
.verProductosInicio:hover{
    background-color: black;
    color: white;
    border-radius: 20%;
    padding: 5px 20px;
    font-size: 20px;
}
.seccionNosotros{
    margin: 5%;
    display: flex;
}
.seccionNosotros div img{
    width: 70vh;
}
.seccionNos_texto{
    margin: 5% 7% 5% 5%;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;
    font-size: 20px;
}
.seccionNos_texto h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
}
.seccionNos_texto h3{
    font-size: 2rem;
    text-align: center;
    font-family: 'Water Brush', cursive;
    margin-top: 10%;
}
.fondoMenuMain{
    background-image: url(./fotos/fondoMenu3.png);
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
.menuBlanco{
    background-color: rgba(255, 255, 255, 0.89);
    text-align: center;
    margin: 4% 2%;
    padding: 4%;
}
.menuBlanco2{
    background-color: rgba(255, 255, 255, 0.89);
    text-align: center;
    margin: 4% 2%;
    padding: 4%;
}
.menuCompleto{
    line-height: 2rem;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}
.carta{
    font-size: 32px;
}
.mainMenu{
    margin: 5%;
}
.lista_menu li:hover{
    background-color: transparent;
}
.mainContancto{
    margin: 2%;
}
.seccion1Cont h2{
    text-align: center;
    margin: 2%;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}
.seccion1Cont p{
    text-align: center;
    margin: 2% 7%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.seccion2Cont{
    display: flex;
    justify-content: center;
}
.seccion2Cont form{
    width: 60%;
    margin: 2rem 20%;
}
.nombre_apellido{
    display: flex;
}
.nombreAp{
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}
input{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.selecMotivo{
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
}
textarea{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.seccionBoton{
    display: flex;
    width: 30vh;
}
.boton{
    margin: 0vh 1vh;
    background-color: #b39975;
    transition: 0.5s;
}
.boton:hover{
    background-color: black;
    color: white;
}
.contenedorPadre{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    width: 100%;
}
.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
.mainSeccion{
    margin: 5%;
}
.mainTitulo{
    text-align: center;
    margin: 2%;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}
.mainParrafo{
    text-align: center;
    margin: 2% 7%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.seccionProductos_main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "Producto1 Hamburguesa"
    "Pizza Producto2"
    "Producto3 Pancho";
    justify-content: c;
}
.prodTexto1{
    grid-area: Producto1;
    text-align: right;
    margin: 9% 5% 5% 20%;
}
.prodTexto1 h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin: 5%;
}
.prodTexto1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 5%;
}
.prodTexto2{
    grid-area: Producto2;
    text-align: left;
    margin: 9% 20% 5% 5%;
}
.prodTexto2 h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin: 5%;
}
.prodTexto2 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 5%;
}
.prodTexto3{
    grid-area: Producto3;
    text-align: right;
    margin: 9% 5% 5% 20%;
}
.prodTexto3 h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin: 5%;
}
.prodTexto3 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 5%;
}
.prodImg1{
    grid-area: Hamburguesa;
    justify-self: left;
    margin: 9% 20% 5% 5%;
}
.prodImg1 img{
    width: 100%;
}
.prodImg2{
    grid-area: Pizza;
    text-align: end;
    margin: 9% 5% 5% 20%;
}
.prodImg2 img{
    width: 100%;
}
.prodImg3{
    grid-area: Pancho;
    justify-self: center;
    margin: 9% 20% 5% 5%;
} 
.prodImg3 img{
    width: 100%;
}
footer{
    color: white;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
footer h4{
    margin-bottom: 15px;
}
.footerIzquierda{
    margin-left: 1%;

}
.footerDerecha{
    margin: 1% 5%;
}
.divSabores{
    display: flex;
    flex-direction: column;
    margin: 3%;
}
.divSaboresOtros{
    margin: 3%;
    position: relative;
    top: 5%;
}
.flexVerMenu{
    margin-top: 5%;
}
.navbar-toggler{
    position: relative;
    bottom: 30px;
}
@media screen and (max-width:991px){
    .divSabores{
        position: relative;
        bottom: 7%;
    }
    ul li:hover{
        border-radius: 20%;
    }
    ul li:hover{
        background-color: transparent;
    }
    ul li a:hover{
        color: black;
        background-color: #fefad7;
        border-radius: 20%;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    nav{
        padding: 0% 2%;
    }
    .navM{
        padding: 0% 2%;
    }
    .logo{
        display: block;
        margin-left: 1%;
        position: relative;
        bottom: 35%;
    }
    .logo2{
        display: block;
        margin-left: 1%;
        position: relative;
        bottom: 50%;
    }
    .seccionInicioNosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccionNosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccionNosotros div img{
        width: 50vh;
    }
    .nosotros img {
        height: 60vh;
    }
    .fondoMenuMain{
        background-image: url(./fotos/fondoMenu3.png);
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .h1_header{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-align: center;
        color: white;
        font-size: 3rem;
        position: relative;
        bottom: 70px;
    }
    .seccionProductos_main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "Hamburguesa"
    "Producto1"
    "Pizza"
    "Producto2"
    "Pancho"
    "Producto3";
    justify-items: center;
    }
    .prodImg2{
        grid-area: Pizza;
        justify-self: center;
        margin: 5%;
    }
    .prodImg1{
        grid-area: Hamburguesa;
        justify-self: center;
        margin: 5%;
    }
    .prodImg3{
        grid-area: Pancho;
        justify-self: center;
        margin: 5%;
    }
    .prodTexto1{
        grid-area: Producto1;
        text-align: center;
        margin: 5%;
        position: relative;
        bottom: 5%;
    }
    .prodTexto2{
        grid-area: Producto2;
        text-align: center;
        margin: 5%;
        position: relative;
        bottom: 5%;
    }
    .prodTexto3{
        grid-area: Producto3;
        text-align: center;
        margin: 5%;
        position: relative;
        bottom: 5%;
    }
    .prodImg1 img{
        width: 80vh;
    }
    .prodImg2 img{
        width: 80vh;
        position: relative;
        left: 3%;
    }
    .prodImg3 img{
        width: 80vh;
    }
}
@media screen and (max-width:576px){
    .divSabores{
        position: relative;
        bottom: 7%;
    }
    .seccionNosotros div img{
        width: 40vh;
    }
    .logo{
        display: block;
        margin-left: 1%;
        position: relative;
        bottom: 35%;
    }
    .logo2{
        display: block;
        margin-left: 1%;
        position: relative;
        bottom: 45%;
    }
    .fotosInicioProductos{
        display: flex;
        flex-direction: column;
    }
    .articuloInicio{
        margin: 5%;
    }
    .seccionBoton{
        display: flex;
        flex-direction: column;
        width: 30vh;
    }
    .boton{
        margin: 1vh 0vh;
    }
    footer{
        color: white;
        background-color: black;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .prodImg1 img{
        width: 40vh;
        position: relative;
        top: 50%;
    }
    .prodImg2 img{
        width: 40vh;
        position: relative;
        top: 50%;
    }
    .prodImg3 img{
        width: 40vh;
        position: relative;
        top: 50%;
    }
}
